{% extends 'base2.html' %}

{% block content %}

<div class="row">

          <div class="col-md-10 ml-auto mr-auto">
            <h3 class="text-center title">About</h3>
            <hr>

               <p class="text-justify">The Language Flagship Video Project was originally developed through a grant by the American Councils for International Education in order to document and analyze samples of the final project of the Capstone Year.
                   Launched in 2018, the video project is now an integrated component of the Overseas Capstone Programs. Over the course of the second semester, Capstone students research and prepare
                   a 20-minute oral presentation on a topic of professional or academic interest for delivery in a conference setting (usually the focus is the internship). In preparation for the project, Capstone students enroll
                   in a professional writing and/or public speaking course, select a topic,
                   develop an outline, a work plan for collecting data/information for their presentation, prepare successive drafts, and, of course, rehearse their presentation with the help and supervision of their instructors
                   and language partners.</p>

              <p class="text-justify">
                  The videos provide a rich documentation of the range of each student’s linguistic, cultural, intercultural, professional and regional/area competencies, captured in a public setting in real time, and in a form which can be
                  shared by Flagship alums with prospective employers, reviewed for curricular and faculty development purposes, analyzed by second language researchers, and made available to demonstrate the skills acquired by
                  Flagship students during The Flagship program.</p>

               <p class="text-justify">
                  The Language Flagship Video Project is sponsored by the Defense Language and National Security Education Office (DLNSEO) of the Department of Defense and administered by the Institute of International Education (IIE).</p>
          </div>
</div>

{% endblock %}