{% extends 'base2.html' %}

{% block content %}
<div class="row">
          <div class="col-sm-12 ml-auto mr-auto">
              <h2 class="text-center title">Video Archive</h2>
          <br>
          <br>
          <div class="row">
           <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Filters
  </a>
          <br>
          <br>
          </div>
          <div class="row">
            <div class="collapse" id="collapseExample">
              <article class="card-group-item">
                  <form id="filter_results" action="." method="POST">
                      {% csrf_token %}
                  <div class="row">
                        {% for field in form %}
                        {% if field.name == 'program' or field.name == 'institution' %}
                            <div class="col-md-4">
                                <label>{{ field.name }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            <br>
                         {% if field.name == 'year' or field.name == 'type' %}
                            <div class="col-sm-4">
                                <label>{{ field.name }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            <br>
                         {% if field.name == 'location' or field.name == 'phase' %}
                            <div class="col-sm-4">
                                <label>{{ field.name }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            <br>
                      {% endfor %}
                  </div>
                  <input type="submit" class="float-md-right" value="Submit" />
                  </form>

              </article>
            </div>
          </div>
          <hr>
          <br>
            {% for video in videos %}
                <div class="col-md-10 ml-auto mr-auto">
              <div class="card">
                            <div class="card-header card-header-text card-header-primary">
                                <div class="card-text">
                                    <h4 class="card-title">{{ video.0.owner.user.first_name }} {{ video.0.owner.user.last_name }} | {{ video.0.event }} {{ video.0.event.program.get_program_years_display }} {{ video.0.event.end |date:"Y" }}</h4>
                                </div>
                            </div>
                                <div class="card-body">
                                {% if video.0.thumb_created is True %}
                                <p><img class="img-thumbnail float-md-right" src="{{ video.1 }}" alt="Card image cap"></p>
                                {% else %}
                                <p><img class="img-thumbnail float-md-right" src="/static/img/wwa2.jpg" alt="Card image cap"></p>
                                {% endif %}
                                    <p><i class="material-icons">language</i> {{ video.0.event.program.language.language }}</p>
                                    <p><i class="material-icons">place</i> {{ video.0.event.city }}, {{ video.0.event.country }}</p>
                                     <p><i class="material-icons">timer</i> {{ video.0.duration }}</p>
                                {% if video.0.is_internal or video.0.is_public %}
                                    <p><i class="material-icons">link</i><a href="/video/{{ video.0.id }}">View video</a></p>
                                {% else %}
                                    <p><i class="material-icons">link</i><a href="http://{{ request.get_host }}/video/{{ video.0.access_code }}/">Private url</a></p>
                                    {% endif %}

                                    {% if video.0.is_internal %}
                                    <span class="badge badge-pill badge-success">Internal</span>
                                {% else %}
                                    <span class="badge badge-pill badge-danger">Internal</span>
                                {% endif %}

                                {% if video.0.is_public %}
                                    <span class="badge badge-pill badge-success">Public</span>
                                {% else %}
                                    <span class="badge badge-pill badge-danger">Public</span>
                                {% endif %}
                                </div>
                        </div>
                <br>
</div>
          {% endfor %}

          {% if videos.has_other_pages %}
  <ul class="pagination pagination-primary">
    {% if videos.has_previous %}
      <li class="page-item"><a href="?page={{ videos.previous_page_number }}" class="page-link">PREV</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in videos.paginator.page_range %}
      {% if users.number == i %}
        <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="active page-item"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if videos.has_next %}
      <li  class="active page-item"><a href="?page={{ videos.next_page_number }}">NEXT</a></li>
    {% else %}
      <li class="disabled"><span>NEXT</span></li>
    {% endif %}
  </ul>
{% endif %}

          </div>
</div>
    </div>

{% endblock %}