{% extends 'base2.html' %}

{% block content %}


    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}

    <div id="main-screen" class="col-md-12">
    <h3>Video: {{ video.title }}</h3>
    <h4>Event: {{ video.event }}</h4>
        <button id="transcription">Generate transcription</button>
        </div>
    {% endif %}

    <div id="progress">
        <div class="progress">
  <div id="area" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5 id="area-text">Transcript generation in progress...</h5>
        </div>
<a id="back" href="/video/{{ video.id }}"><button type="button" class="btn btn-success ">Go to video</button></a>
{% endblock %}

{% block javascript %}
<script>

function generate_transcript(){
                   $('#area').attr('style','width: 75%');
                   $('#area-text').text('automatic speech-to-text transcription starting... Please wait, it will take some time.');
                   $('#area-text').attr('class', 'text-success"')
     $.ajax({
                type : "POST",
                url: "/ajax/transcribe/",
                data: {
                 video_id : '{{ video.id }}',
                 video_file : '{{ video.file }}',
                 language : '{{ video.language }}',
                 access_code : '{{ video.access_code }}',
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },

                success: function(data){
                   $('#back').show();
                    $('#area').attr('style','width: 100%');
                   $('#area-text').text(data['msg']);

                },

                failure: function(error) {
                    $('#area').attr('class','progress-bar progress-bar-striped bg-danger');
                    $('#area').attr('style','width: 100%');
                   $('#area-text').text(error);
                   $('#area-text').attr('class', 'text-danger');
                    $('#back').show();
                }
            });
}


 $(document).ready(function() {
     $('#progress').hide();
     $('#back').hide();

    $("#transcription").on('click', function (e) {
        e.preventDefault();
        $('#main-screen').hide(300)
        $('#progress').show(500)
        $('#area').attr('style','width: 30%');

        $.ajax({
                type : "POST",
                url: "/ajax/upload_video/",
                data: {
                 id : '{{ video.id }}',
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },

                success: function(data){
                   $('#area').attr('style','width: 60%');
                   $('#area-text').text(data['msg']);
                   $('#area-text').attr('class', 'text-success"')
                   generate_transcript();
                },

                failure: function(error) {
                    $('#area').attr('class','progress-bar progress-bar-striped bg-danger');
                    $('#area').attr('style','width: 100%');
                   $('#area-text').text(error);
                   $('#area-text').attr('class', 'text-danger')
                }


            });
    });
     })
</script>
{% endblock  %}