{% extends 'base2.html' %}

{% block content %}

<div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h3 class="text-center title">The Language Flagship Video Project</h3>
            <hr>

               <p class="text-justify"><strong>Launched in 2018, the video project is now an integrated component in the Arabic, Chinese, Portuguese and
                   Russian Overseas Capstone Programs. Over the course of the second semester, capstone students research and prepare
                   a 20-minute oral presentation on a topic of
                   professional or academic interest for delivery in a conference setting (usually the focus is the internship).
              <a href="/about/">Continue reading</a></strong></p>
          </div>
</div>
<div class="section text-center">
<div class="features">
          <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
            <h3 class="text-center title">Options</h3>
                  <hr>
              </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">video_library</i>
                </div>
                <h4 class="info-title">Showcase Videos</h4>
                  <h5><a href="/showcase">Start watching</a> a selection of videos from Flagship students</h5>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Registered Users</h4>
                  <h5><a href="/accounts/login/">Log into your account</a> to start uploading videos</h5>
              </div>
            </div>

              <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Provide Feedback</h4>
                  <h5>Help us make this website better by providing <a href="https://docs.google.com/forms/d/1pkl7taW3aWBnoE-ulzXnEn_UyitXmtWQgcrVty5y_NU" target="_blank">your feedback.</a></h5>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}