{% extends 'base2.html' %}
{% load  video_tags %}

{% block content %}

<div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h3 class="text-center title">THE LANGUAGE FLAGSHIP VIDEO PROJECT</h3>
            <hr>

               <p class="text-justify"><strong>The Language Flagship Video Project was originally developed through a grant by the American Councils for International Education in order to document and analyze samples of the final project of the Capstone Year.
                   Launched in 2018, the video project is now an integrated component in the Arabic, Chinese, Portuguese and
                   Russian Overseas Capstone Programs. Over the course of the second semester, capstone students research and prepare
                   a 20-minute oral presentation on a topic of
                   professional or academic interest for delivery in a conference setting (usually the focus is the internship).
              <a href="/about/">Continue reading</a></strong></p>
          </div>
</div>
<div class="section text-center">
<div class="features">
          <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
                  <hr>
              </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">video_library</i>
                </div>
                <h4>Showcase Videos</h4>
                  <h5><a href="/showcase">Start watching</a> a selection of videos from Flagship students</h5>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">login</i>
                </div>
                <h4>Registered Users</h4>
                  <h5><a href="/accounts/login/">Log into your account</a> to start uploading videos</h5>
              </div>
            </div>

              <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4>Provide Feedback</h4>
                  <h5>Help us make this website better by providing <a href=" https://forms.gle/n2BLT2fY9N8q77Q46" target="_blank">your feedback.</a></h5>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}