{% extends 'base2.html' %}

{% block content %}
<div class="col-md-12">
<h3>Program Details</h3>

    <hr>

    <h4><strong>Program:</strong> {{ program.name }} ({{ program.start }}-{{ program.end }})</h4>
    <h4><strong>Events:</strong></h4>
    <ul>
        {% for event in program.get_events %}
        <li>{{ event }}</li>
    {% endfor %}
    </ul>

    <a href="/new/event/{{ program.id }}/"><button type="button" class="btn btn-success ">Add Event</button></a>
<hr>
<div id="students">
<h4><strong>Students registered:</strong></h4>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Institution</th>

    </tr>
  </thead>
  <tbody>
<hr>
{% for student in program.students.all %}
    <tr>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.user.email }}</td>
      <td>{{ student.institution }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<button id="add_student" type="button" class="btn btn-success ">Add student to the program</button>
<div id="student-form">
    <h4>Search a user by email:</h4>
    <form id="registration" action="." method="POST">
        {% csrf_token %}
        <input type="text" id="email" required>
        <input type="submit">
    </form>
</div>
<div id="student_data">
<p id="student_name"></p>
<p id="student_last_name"></p>
    <p id="enroll"></p>

</div>
</div>

</div>
{% endblock %}

{% block javascript %}
<script>
$( document ).ready(function() {
    $("#student-form").hide();
    $("#student_data").hide();
    $("#add_student").on('click', function () {
        $("#student-form").show(300);
    })

    //search for user and return data
    $("#registration").on('submit', function (e) {
        e.preventDefault();

        $("#student_name").empty();
         $("#student_last_name").empty();

    $.ajax({
        type: "POST",
        url: "/ajax/search_user/",
        data: {
            email: $("#email").val(),
            program_id: '{{ program.id }}',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
        },

        success: function (response) {
            if (response['error']){
                $("#student_data").empty();
                $("#student_data").show(200);
                $("#student_data").append(response['error']);
            }
            else {
                $("#student_data").show(200);
                $("#student_name").append(response['first_name']);
                $("#student_last_name").append(response['last_name']);
                $("#enroll").html('<button id="enroll">Enroll student</button>');

            }
        },

        failure: function (error) {
            alert(error);
        }
    });
})

$('#enroll').on('click', function (e) {
    e.preventDefault();

    $.ajax({
        type: "POST",
        url: "/ajax/enroll_user/",
        data: {
           'profile_id' : '{{ profile.id }}',
            'program_id': '{{ program.id }}',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
        },

        success: function (response) {
            if (response['error']){

                $("#student_data").append(response['error']);
            }
            else {
                $("#student_data").append(response['msg'])

            }
        },

        failure: function (error) {
            alert(error);
        }
    });

})

})
</script>
{% endblock %}