{% extends 'base2.html' %}
{% load  video_tags %}

{% block content %}
{% if request.user.id|get_profile_type == 'A' %}
   <h3>Add New User</h3>
    <br>
{% csrf_token %}
{% for field in form %}
{% if field.name == 'first_name' %}
        <label>first name</label>
    {{ field }}
    <br>
{% elif field.name == 'last_name' %}
     <label>last name</label>
    {{ field }}
    <br>

 {% else %}
    <label>{{ field.name }}</label>
    {{ field }}
    <br>
{% endif %}
    {% endfor %}
<button type="submit">Submit</button>
</form>
{% else %}
<div class="col-md-12">
<h4>You do not have permission to access this page</h4>

</div>
{% endif %}
{% endblock %}