{% extends 'base2.html' %}

{% block content %}
<div class="row">
    {% if error %}

        <h3 class="text-danger"><strong>This video is not public.</strong></h3>

    {% else %}
{% if request.user == video_object.owner.user %}
<div class="col-md-12 text-right">
{% if video_object.is_final %}
<button id="transcript_trans" type="button" class="btn btn-success ">Translate</button>
    {% else %}
<a href="/edit-transcript/{{ video_object.id }}"><button id="transcript_edit" type="button" class="btn btn-success ">Edit</button></a>
    {% endif %}
</div>
    {% endif %}
        </div>
        <br>
        <br>
<div class="row">
<div class="col-md-5 ">
  <video id="video1" preload="auto" width="480" height="480" poster="/static/ableplayer/media/wwa.jpg" data-include-transcript="false" data-transcript-div="transcript" data-able-player data-skin="2020" data-meta-type="selector" playsinline>
    <source type="video/mp4" src="{{ video_url }}" />

    <!-- Able Player will display tracks alphabetically by label -->
    <track kind="captions" src="{{ transcript_url }}" srclang="{{ video_object.language.language_code }}" label="{{ video_object.language.language }}"/>
      {% if translation_url %}
            <track kind="subtitles" src="{{ translation_url }}" srclang="en" label="English"/>
    {% endif %}
  </video>
</div>

<div class="col-md-7">
<div id="transcript"></div>
</div>
</div>
    {% endif %}
{% endblock %}

{% block javascript %}
<script type="application/javascript">
 $(document).ready(function() {

  });


</script>
{% endblock %}