{% extends 'base2.html' %}

{% block content %}
    {% if request.user != video.owner.user %}

        <h3 class="text-danger"><strong>You do not have permission to perform this action.</strong></h3>

    {% elif video.is_final == 1 %}
         <h3 class="text-danger"><strong>This transcript cannot be edited because it has been marked as final.</strong></h3>
    {% else %}
 <div id="show-transcript">
<div class="row">
<div class="col-md-6">
<div id="video-and-meta-wrapper">
  <video id="video" preload="auto" width="480" height="360" poster="/static/ableplayer/media/wwa.jpg" data-include-transcript="true" data-able-player data-skin="2020" data-meta-type="selector" playsinline>
    <source type="video/mp4" src="{{ video_url }}" />
  </video>
</div>
</div>

<div class="col-md-6">
<h3>Transcript Editor</h3>
<br>

<form id="video-edit" method="POST">
{% csrf_token %}
        {% if not video.transcript_completed  %}
            <label>Mark as completed?:</label>
        <input name="final" id="final" type="checkbox" value="0" >
         {% elif video.transcript_completed and not video.is_final %}
            <label>Mark as final?:</label>
        <input name="final_video" id="final_video" type="checkbox" value="0" >
            {% endif %}
         <div class="able-transcript">
        <div class="able-transcript-container">
        {% if  video.language|slice:":2" == 'AR' or  video.language|slice:":2" == 'FA' %}
        {% for out in output %}
         <button type="button" class="btn btn-success" data-start="{{ out.start }}">Clip ({{ out.start }}--{{ out.end }})</button>
        <textarea class="form-control" dir="rtl" data-start="{{ out.start }}" data-end="{{ out.end }}" rows="2">{{ out.text }}</textarea>
            <br>
         {% endfor %}
        {% else %}
            {% for out in output %}
         <button type="button" class="btn btn-success" data-start="{{ out.start }}">Clip ({{ out.start }}--{{ out.end }})</button>
        <textarea class="form-control" data-start="{{ out.start }}" data-end="{{ out.end }}" rows="2">{{ out.text }}</textarea>
            <br>
        {% endfor %}
        {% endif %}
        <br>
        </div>
         </div>
<br>
<input type="submit" value="Save" class="btn btn-info">
    <a href="/video/{{ video.id }}/" class="btn btn-danger">Cancel</a>
</form>
</div>
    {% endif %}
</div>
    </div>
    <div class="row">
    <div id="show-response">
<h4>The transcript has been saved</h4>
        <br>
        <br>
        <a href="{{ request.get_full_path }}"><button type="button" class="btn btn-success ">Continue editing</button></a>
        <a href="/video/{{ video.id }}"><button type="button" class="btn btn-success ">Go back to video</button></a>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>

$(document).ready(function() {
    let params = window.location.pathname.split('/');
    var ind = $.inArray('en', params);
    if (ind >0){
        var lang = 'en';
        var url = '/ajax/save_translation/';
    }
    else{
        var lang = '{{ video.language }}';
        var url = '/ajax/save_transcript/';

    }
    $('#show-response').hide();
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var vid = document.getElementById("video");

    $('.btn-success').on('click', function () {
        var clip = $(this)[0].dataset.start.split(':');
        var seconds = parseInt(clip[1].substr(0, 2)) + parseInt(clip[2].substr(0, 2));
        setCurTime(seconds);
})

function setCurTime(t) {
  vid.currentTime=t;
}

//Get all the textarea elements and create a dict-like JSON object
function get_data() {
        data=[]
        $("textarea").each(function(){
            var dict = {"text": $(this).val(), "start": $(this)[0].dataset.start, "end": $(this)[0].dataset.end};
            data.push(JSON.stringify(dict));
});
return data
}

    //Ajax call to save changes to file after submitting the editing form

    $("#video-edit").submit(function (e) {
        vid.pause();
        if($('#final').is(':checked')){var final=1;}
        else {var final=0;}
        if($('#final_video').is(':checked')){var final_video=1;}
        else {var final_video=0;}
        var data = get_data();

        e.preventDefault();

       $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: url,
            headers:{
        "X-CSRFToken": csrftoken
    },
            data: {'requestData':data, 'file': '{{ video.access_code }}', 'lang':lang,
            'video_id': '{{ video.id }}', 'final': final, 'final_video':final_video},
            success: function (response) {
                $('#show-transcript').hide();
                $('#show-response').show(500);

            },
            error: function error(response) {

            }
        })
    })
})
</script>
{% endblock javascript %}