{% extends 'base2.html' %}
{% load  video_tags %}

{% block content %}
{% if request.user|is_user_in_program %}
<div class="col-md-12">
<div id="form_view">
<h2>Upload Video</h2>
<br>
<br>
<form enctype="multipart/form-data" action="." method="POST">

{% csrf_token %}
{% for field in form %}
    {% if field.name == 'is_public' %}
<h3><strong>Consent for Internal Use</strong></h3>
        <br>
        <p>I hereby grant permission to the Language Flagship Technology Innovation Center (Tech Center) and NSEP/DLNSEO
            to post this video recording of my presentation at the end of the Capstone program, internally within
            the Flagship community of language programs organization for training purposes with future language students and instructors,
            US government employees or contracted employees on a need-to-know basis. I understand that my name and a brief description
            of my program participation (name of program, year, home institution, host institution and host country)
            as well as a brief description of the topic of my presentation will be attached to this video. </p>
        <label for="id_is_public"><strong>I grant permission to post this video on the internal website for the Flagship community:</strong></label>
        <input type="checkbox" name="is_public" value="0" id="id_is_internal">
        <br>
        <hr>
         {% elif field.name == 'is_internal' %}
        <h3><strong>Consent for Public Use</strong></h3>
        <br>
        <p>I hereby grant permission to the Language Flagship Technology Innovation Center (Tech Center) and NSEP/DLNSEO to
            post the video of my presentation on a public-facing portion of websites that are only accessible to the general
            public to showcase participants’ language proficiency and professional performance in the target language.
            I understand that my name and a brief description of my program participation (name of program, year, home institution,
            host institution and host country) as well as a brief description of the topic of my presentation will be attached to this video. </p>
        <label for="id_is_internal"><strong> I grant permission to post this video on the public website for the Flagship community:</strong></label>
        <input type="checkbox" name="is_internal" value="0" id="id_is_public">
        <br>
        <hr>

{% elif field.name == 'event' %}
    <div class="bmd-form-group">
    Event
    <select name="event" id="id_event" required>
        {% for value in field.value %}
            <option value="{{ value.id }}">{{ value }}</option>
        {% endfor %}
    </select>
     </div>

    {% else %}
      <div class="bmd-form-group">
        {{ field.label }}
        {{ field }}
      </div>

    {% endif %}
{% endfor %}
<br>
<button type="submit">Save</button>
</form>
</div>
 <div id="progress">
        <h5 id="area-text">Video upload in progress...</h5>
        </div>
</div>
    {% else %}
    <div class="col-md-12">
          <h4>Your user is not associated with a program.</h4>
    </div>
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
         $('#progress').hide();
  $("form").submit(function(){
      $('#form_view').hide(300);
      $('#progress').show(450);
  });
});
</script>
{% endblock %}