{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/ableplayer/ableplayer.js"></script>

            <!-- Able Player CSS -->
        <link rel="stylesheet" href="/static/ableplayer/ableplayer.min.css" type="text/css"/>
    <title>Title</title>

</head>
<body>
{% block content %}
{% endblock %}
</body>
{% block javascript %}
{% endblock %}
</html>