{% load  video_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon">
  <link rel="icon" type="image/png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Video Project
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/static/css/material-kit.css?v=2.0.7" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/bootstrap-select.css">
  <!-- CSS Just for demo purpose, don't include it in your project -->


            <!-- Able Player CSS -->
        <link rel="stylesheet" href="/static/ableplayer/styles/ableplayer.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/able_video.css" type="text/css"/>
    {% block css %}
{% endblock %}
    <title>VIDEO PROJECT</title>
</head>

<body class="landing-page sidebar-collapse">

      <nav class="navbar navbar-expand-md bg-black">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-translate">
                <a class="navbar-brand" href="/"><img class="d-none d-lg-block" src="/static/img/DLNSEO_logo.png" height="80"></a>
                <a class="navbar-brand" href="/"><img class="d-none d-lg-block" src="/static/img/tech-center_logo_web.png" height="70"></a>
                <a class="navbar-brand content-center" href="/">VIDEO PROJECT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                {% if request.user.id|get_profile_type == 'C' %}
                  <li class="nav-item">
                    <a href="/my-videos" class="nav-link">
                        <i class="material-icons">account_circle</i>
                      My Videos
                    </a>
                  </li>
                {% endif %}
                {% if request.user.id|get_profile_type == 'A' or request.user.id|get_profile_type == 'B' %}
                  <li class="nav-item">
                    <a href="/manage" class="nav-link">
                      Manage
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/archive" class="nav-link">
                      Archive
                    </a>
                  </li>
                {% endif %}
                  <li class="nav-item">
                    <a href="/showcase" class="nav-link">
                      Showcase
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/about/" class="nav-link">
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                      {% if user.is_authenticated %}
                    <a href="/accounts/logout/" class="btn btn-rose btn-raised btn-fab btn-round" >
                      <i class="material-icons">logout</i>
                    </a>
                      {% else %}
                          <a href="/accounts/login" class="btn btn-success btn-raised btn-fab btn-round" >
                                <i class="material-icons">login</i>
                          </a>
                      {% endif %}
                  </li>

                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-->
          </nav>

  <div class="main">
    <div class="container">


      <div class="section">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
       <p class="small">The Language Flagship Video Project was originally developed through a grant by the American Councils for International Education in order to document and analyze samples of the final project of the Capstone Year. This site was redesigned and is currently maintained by The Language Flagship Technology Innovation Center, which is funded under a grant from the Institute of International Education (IIE), acting as the administrative agent of the Defense Language and National Security Education Office (DLNSEO) for The Language Flagship.
           One should not assume endorsement by the Federal Government. Project P.I.: Dr. Julio C. Rodriguez</p>
      </div>
          </div>
    <div class="row">
        <div class="col-lg-9"></div>
      <div class="col-lg-3 ">
           <img class="img-fluid" src="/static/img/tech-center_logo_web.png">

      </div>
    </div>
          </div>
  </footer>
  <!--   Core JS Files   -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/static/js/core/popper.min.js"></script>
  <script src="/static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="/static/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="/static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="/static/js/material-kit.js?v=2.0.7" type="text/javascript"></script>


    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/ableplayer/thirdparty/js.cookie.js"></script>
    <script src="/static/ableplayer/build/ableplayer.js"></script>

{% block javascript %}
{% endblock %}
</body>

</html>